@using Bovime.veri;
@using Bovime;
@using Bovime.Models;
@using Bovime.veriTabani;
@using System.Collections.Generic;
@using System.Collections;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_ana.cshtml";
    Yonetici kim = (Yonetici)ViewBag.mevcut;
}

@model AnaSayfaModel
<style>


    .bcmGosterge {
        font-weight: bold !important;
        background-color: #e5f4ff !important;
        border-bottom-color: #c4e6ff;
        border-bottom-width: 5px;
        border-bottom-style: solid;
    }

        .bcmGosterge:hover {
            font-weight: bold !important;
            background-color: #c4e6ff !important;
            border-bottom-color: #e5f4ff;
            border-bottom-width: 5px;
            border-bottom-style: solid;
        }



    .bcmGosterge2 {
        font-weight: bold !important;
        background-color: #fff0d9 !important;
        border-bottom-color: #ffd28e;
        border-bottom-width: 5px;
        border-bottom-style: solid;
    }

        .bcmGosterge2:hover {
            font-weight: bold !important;
            background-color: #ffd28e !important;
            border-bottom-color: #fff0d9;
            border-bottom-width: 5px;
            border-bottom-style: solid;
        }



    .bcmGosterge3 {
        font-weight: bold !important;
        background-color: #fdd9f5 !important;
        border-bottom-color: #f000b9;
        border-bottom-width: 5px;
        border-bottom-style: solid;
    }

        .bcmGosterge3:hover {
            font-weight: bold !important;
            background-color: #f000b9 !important;
            border-bottom-color: #fdd9f5;
            border-bottom-width: 5px;
            border-bottom-style: solid;
            color: white !important;
        }


    .bcmGosterge4 {
        font-weight: bold !important;
        background-color: #dbf5ec !important;
        border-bottom-color: #10b981;
        border-bottom-width: 5px;
        border-bottom-style: solid;
    }

        .bcmGosterge4:hover {
            font-weight: bold !important;
            background-color: #10b981 !important;
            border-bottom-color: #dbf5ec;
            border-bottom-width: 5px;
            border-bottom-style: solid;
            color: white !important;
        }




    .bcmCiddiUyari {
        font-weight: bold !important;
        background-color: #ffe4a9 !important;
        border-bottom-color: #ffc851;
        border-bottom-width: 5px;
        border-bottom-style: solid;
        color: darkred;
    }



    .koyu {
        background-color: #f8f9fa !important;
        min-height: 40px;
    }


    .renkGecisi1 {
        background: linear-gradient(to right, #684fca, #a293de);
        color: white !important;
    }

    .renkGecisi2 {
        background: linear-gradient(to right, #fa571f, #f6a600);
        color: white !important;
    }


    .renkGecisi3 {
        background: linear-gradient(to right, #1d996c, #2ed089);
        color: white !important;
    }

    .renkGecisi4 {
        background: linear-gradient(to right, #5a75e8, #45c3fa);
        color: white !important;
    }


    .acik {
        background-color: white !important;
        min-height: 40px;
    }

    .anaSayfaIkaz {
        background-color: #eff2f7 !important;
        font-weight: bold;
        min-height: 60px !important;
        color: red !important;
        font-size: 20px !important;
    }

    a {
        color: inherit;
    }
</style>



@{
    int dil = 1;

    try
    {
        dil = Convert.ToInt32(ViewBag.dil);
    }
    catch
    {
    }

}
<div class="row mb-4">
    <div class="col-lg-12">
        <div class="d-flex align-items-center">
            <img src="@Model.fotosu" alt="" class="avatar-sm rounded">
            <div class="ms-3 flex-grow-1">
                <h5 class="mb-2 card-title">@Model.kisiAdi, @Model.kisiUnvani</h5>
                <p class="text-muted mb-0">@Model.yazilimAdi</p>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->

<div class="row" style="background-color: #fbfbfb !important;">
    <div class="@Ayar.ceyrekGenislik">
        <div class="card mini-stats-wid shadow-sm p-3 mb-3 bg-white rounded bcmGosterge">

            <div class="d-flex">
                <div class="flex-grow-1" style="text-align: center !important;">
                    <img src="@Model.simge1.fotosu" width="32" height="32" />
                    <h4 class="mb-0">@Model.deger1</h4>
                    <p class="text-muted fw-small">@Model.baslik1</p>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="@Ayar.ceyrekGenislik">
        <div class="card mini-stats-wid shadow-sm p-3 mb-3 bg-white rounded bcmGosterge2">


            <div class="d-flex">
                <div class="flex-grow-1" style="text-align: center !important;">
                    <img src="@Model.simge2.fotosu" width="32" height="32" />
                    <h4 class="mb-0">@Model.deger2</h4>
                    <p class="text-muted fw-small">@Model.baslik2</p>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="@Ayar.ceyrekGenislik">
        <div class="card mini-stats-wid shadow-sm p-3 mb-3 bg-white rounded bcmGosterge3">
            <div class="d-flex">
                <div class="flex-grow-1" style="text-align: center !important;">
                    <img src="@Model.simge3.fotosu" width="32" height="32" />
                    <h4 class="mb-0">@Model.deger3</h4>
                    <p class="text-muted fw-small">@Model.baslik3</p>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="@Ayar.ceyrekGenislik">
        <div class="card mini-stats-wid shadow-sm p-3 mb-3 bg-white rounded bcmGosterge4">
            <div class="d-flex">
                <div class="flex-grow-1" style="text-align: center !important;">
                    <img src="@Model.simge4.fotosu" width="32" height="32" />
                    <h4 class="mb-0">@Model.deger4</h4>
                    <p class="text-muted fw-small">@Model.baslik4</p>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->
 
 

<div class="row">


<div class="@Ayar.yariGenislik">
    @{
        if (Model.baglantilar.Count > 0)
        {
            <h4 style="color: red !important;">  Dikkat! </h4>

            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>Sırası</th>
                            <th>Başlık  </th>
                            <th>Açıklama  </th>
                        </tr>
                    </thead>
                    <tbody>

                        @{

                            foreach (var siradaki in Model.baglantilar)
                            {
                                <tr>
                                    <th scope="row">@siradaki.sirasi</th>
                                    <td scope="row">@siradaki.baslik  </td>
                                    <td scope="row">@siradaki.aciklama  </td>
                                </tr>
                            }
                        }


                    </tbody>
                </table>
            </div>
        }

    }

    @{
        if (kim._KullaniciTuru == enumref_KullaniciTuru.Yazilimci
            || kim._KullaniciTuru == enumref_KullaniciTuru.Firma
        || kim._KullaniciTuru == enumref_KullaniciTuru.Sistem_Yoneticisi)
        {
            <div class="row">
                <div class="col-xl-8">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap mb-0">
                                <tr>
                                    <th scope="col">Müşteri Adı</th>
                                        <th scope="col">Tarih</th>
                                        <th scope="col">Kampanya</th>
                                    <th scope="col">Firma</th>
                                </tr>
                                <tbody>


                                    @{
                                        for (int i = 0; i < Model.sonYirmiSatis.Count; i++)
                                        {
                                            var siradaki = Model.sonYirmiSatis[i]; 
                                            <tr>
                                                <td>
                                                    @siradaki.adi @siradaki.soyadi
                                                </td>
                                                <td>
                                                    @siradaki.tarih
                                                </td>
                                                    <td>
                                                        @siradaki.kampanyaBasligi
                                                    </td>

                                              <td>
                                              @siradaki.firmaAdi
                                              </td>
                                         
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>

                </div>
                 

            </div>
        }
    }
</div>

<div class="@Ayar.yariGenislik"> 
        <div class="card">
            <h5>Kampanyalarınızın Satış Rakamları</h5>
            <div id="kampanyaSatisGrafik"></div>
        </div>
</div>


</div>

<script>

  document.addEventListener("DOMContentLoaded", function () {

        var kampanyalar = @Html.Raw(
            Newtonsoft.Json.JsonConvert.SerializeObject(
                Model.kampanyaSatisRaporu.Select(x => x.kampanyaAdi)
            )
        );

        var satislar = @Html.Raw(
            Newtonsoft.Json.JsonConvert.SerializeObject(
                                    Model.kampanyaSatisRaporu.Select(x => x.sayisi)
            )
        );

        var options = {
            chart: {
                type: 'bar',
                height: 350
            },
            series: [{
                name: 'Satış Adedi',
                data: satislar
            }],
            xaxis: {
                categories: kampanyalar
            },
            plotOptions: {
                bar: {
                    distributed: true,
                    borderRadius: 6
                }
            },
            dataLabels: {
                enabled: true
            }
        };

        var chart = new ApexCharts(
            document.querySelector("#kampanyaSatisGrafik"),
            options
        );

        chart.render();
    });


    function yonlendir(adres)
    {
        alert('bvaşladı');
        window.location.href= adres;
    }
</script>


<script src="assets/libs/apexcharts/apexcharts.min.js"></script>

